body{
    margin: 0;
    overflow: hidden;
    cursor: none;
    background-color: black;
}

.fire-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fire{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    animation: fireAnimation 1s ease-in-out;
}

@keyframes fireAnimation{
    to{
        transform:scale(3);
        opacity: 0;;
    }
}